@media only screen and (min-width: 569px) and (max-width: 768px) {
  .header {
    position: absolute;
  }
  .header .logo {
    display: none;
  }
  .header .headMenu {
    display: none;
  }
  .header .txtHeadEN {
    display: block;
    font-size: 22px;
    left: 0px;
    top: 36px;
    width: 100%;
    text-align: center;
  }
  .header.sty2 .txtHeadEN {
    left: 0px;
    font-size: 22px;
  }
  .header.langEn .txtHeadEN {
    left: 0px;
    font-size: 22px;
  }
  .header .lineHead {
    display: none;
  }
  .header .txtHeadTH {
    position: static;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-size: 21px;
  }

  .header .boxListIcon {
    left: 0px;
    right: auto;
    width: 100%;
  }
  .header .boxListIcon .btnLangEn {
    display: none;
  }
  .header .boxListIcon .btnHome {
    display: none;
  }
  .header .boxListIcon .btnSitemap {
    float: left;
    margin-left: 8px;
  }
  .header .boxListIcon .btnProject {
    float: right;
    margin-right: 8px;
  }

  .boxSitmap {
    background-image: none;
  }
  .boxSitmap .boxListSitmap {
    width: 100%;
  }
  .boxSitmap .oneListSitmap {
    position: relative;
    float: none;
    padding: 5px 0px 5px 55px;
    border-left: 4px solid #666;
    border-bottom: 1px solid #666;
    margin-bottom: 1px;
  }
  .boxSitmap .oneListSitmap .num {
    position: absolute;
    left: 8px;
    top: 2px;
    width: 40px;
    height: auto;
  }
  .boxSitmap .oneListSitmap > h4 {
    padding: 7px 0px 7px 0px;
  }
  .boxSitmap .oneListSitmap > ul {
    display: none;
  }
  .boxSitmap .btnCloseSitmap {
    display: none;
  }

  .boxSitmap .boxMainLink {
    width: 100%;
    position: relative;
    top: -1px;
    background-color: #383c3f;
    padding: 8px 0px;
  }
  .boxSitmap .boxMainLink h2 {
    display: none;
  }
  .boxSitmap .boxMainLink h3 {
    display: none;
  }
  .boxSitmap .boxMainLink .listMainLink a {
    background-image: none;
    padding: 0px 0px 0px 21px;
    width: auto;
    height: auto;
    font-size: 21px;
    line-height: 25px;
  }

  .boxSitmap .boxLangSitmap {
    display: block;
  }

  /* home 
	=============================== */
  #home {
  }
  #home .contentPage {
    min-height: 450px;
    padding: 0px;
  }
  #home .titlePage {
    font-size: 36px;
    line-height: 30px;
    padding-top: 30%;
  }
  #home .boxDetailMain {
  }
  #home .boxContentCtrl {
    padding: 10px 0px 25px 0px;
    width: 100% !important;
    text-align: center;
  }
  #home .boxContentCtrl a {
    display: inline-block;
    width: 18px;
    height: 18px;
    float: none;
    opacity: 0.9;
  }
  #home .boxContentCtrl a.action,
  #home .boxContentCtrl a:hover {
    opacity: 0.9;
  }


  /* popup
	=============================== */
  .popup01Main {
    width: 320px;
  }
  .popup01Main .titlePop01Main {
    padding: 30px 48px 0px 10px;
  }
  .popup01Main .titlePop01Main b {
    left: 10px;
  }
  .popup01Main .contentPop01Main {
    padding: 25px 10px 40px 10px;
  }
  .popup01Main .btnClose {
    right: 10px;
  }

  .popup0101 {
    width: 320px;
  }
  .popup0101 .titlePop0101 {
    font-size: 32px;
    padding: 0px 0px 0px 10px;
    height: 62px;
    line-height: 70px;
  }
  .popup0101 .contentPop0101 {
    padding: 10px;
  }

  .popup0106 {
    width: 320px;
  }
  .popup0106 .titlePop0106 {
    height: 75px;
    line-height: 80px;
    padding: 0px 0px 0px 70px;
    font-size: 32px;
  }
  .popup0106 .titlePop0106 img {
    width: 70px;
    left: 0px;
    top: 5px;
  }
  .popup0106 .contentPop0106 {
    padding: 10px 10px 20px 10px;
  }
  .popup0106 .contentPop0106 h4 {
    font-size: 25px;
  }
  .popup0106 .contentPop0106 h4 b {
    font-size: 55px;
  }

  .popup0108 {
    width: 320px;
  }
  .popup0108 .titlePop0108 {
    padding: 30px 50px 20px 50px !important;
    font-size: 23px !important;
    height: auto !important;
  }
  .popup0108 .titlePop0108 b {
    font-size: 50px;
    left: 10px;
    top: 5px;
  }
  .popup0108 .titlePop0108 span {
    font-size: 20px;
  }
  .popup0108 .contentPop0108 {
    padding: 10px 10px 20px 10px;
  }
  .popup0108 .contentPop0108 img {
    max-width: 300px;
  }

  .popup03-1 {
    width: 320px;
  }
  .popup03-1 .titlePop03-1 {
    padding: 20px 50px 50px 71px;
    height: auto;
    font-size: 22px;
    line-height: 20px;
  }
  .popup03-1 .titlePop03-1 img {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 75px;
  }
  .popup03-1 .contentPop03-1 {
    padding: 10px;
  }
  .popup03-1 .btnDownload {
    left: 70px;
    right: auto;
    top: 62px;
  }

  .popup03-2 {
    width: 320px;
  }
  .popup03-2 .titlePop03-2 {
    padding: 20px 50px 50px 71px;
    height: auto;
    font-size: 22px;
    line-height: 20px;
  }
  .popup03-2 .titlePop03-2 img {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 75px;
  }
  .popup03-2 .contentPop03-2 {
    padding: 10px;
  }
  .popup03-2 .btnDownload {
    left: 70px;
    right: auto;
    top: 62px;
  }

  .popup03-3 {
    width: 320px;
  }
  .popup03-3 .titlePop03-3 {
    padding: 20px 50px 50px 71px;
    height: auto;
    font-size: 22px;
    line-height: 20px;
  }
  .popup03-3 .titlePop03-3 img {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 75px;
  }
  .popup03-3 .contentPop03-3 {
    padding: 10px;
  }
  .popup03-3 .btnDownload {
    left: 70px;
    right: auto;
    top: 42px;
  }

  .popup03-4 {
    width: 320px;
  }
  .popup03-4 .titlePop03-4 {
    padding: 20px 50px 50px 71px;
    height: auto;
    font-size: 22px;
    line-height: 20px;
  }
  .popup03-4 .titlePop03-4 img {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 75px;
  }
  .popup03-4 .contentPop03-4 {
    padding: 10px;
  }
  .popup03-4 .btnDownload {
    left: 70px;
    right: auto;
    top: 62px;
  }

  .popup03-5 {
    width: 320px;
  }
  .popup03-5 .titlePop03-5 {
    padding: 20px 50px 50px 71px;
    height: auto;
    font-size: 22px;
    line-height: 20px;
  }
  .popup03-5 .titlePop03-5 img {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 75px;
  }
  .popup03-5 .contentPop03-5 {
    padding: 10px;
  }
  .popup03-5 .btnDownload {
    left: 70px;
    right: auto;
    top: 62px;
  }

  .popup05-1 {
    width: 320px;
  }
  .popup05-1 .titlePop05-1 {
    padding: 0px 0px 0px 10px;
    height: 120px;
    font-size: 32px;
    line-height: 85px;
  }
  .popup05-1 .titlePop05-1 img {
    width: 35px;
  }
  .popup05-1 .btnDownload {
    right: auto;
    left: 53px;
    top: 70px;
  }
  .popup05-1 .btnClose {
    right: 10px;
  }

  .popup05-3 {
    width: 320px;
  }
  .popup05-3 .titlePop05-3 {
    padding: 0px 0px 0px 10px;
    height: 120px;
    font-size: 32px;
    line-height: 85px;
  }
  .popup05-3 .titlePop05-3 img {
    width: 35px;
  }
  .popup05-3 .btnDownload {
    right: auto;
    left: 53px;
    top: 70px;
  }
  .popup05-3 .btnClose {
    right: 10px;
  }

  .popup05-4 {
    width: 320px;
  }
  .popup05-4 .titlePop05-4 {
    padding: 0px 0px 0px 10px;
    height: 120px;
    font-size: 32px;
    line-height: 85px;
  }
  .popup05-4 .titlePop05-4 img {
    width: 35px;
  }
  .popup05-4 .btnDownload {
    right: auto;
    left: 53px;
    top: 70px;
  }
  .popup05-4 .btnClose {
    right: 10px;
  }

  .popup05-5 {
    width: 320px;
  }
  .popup05-5 .titlePop05-5 {
    padding: 0px 0px 0px 10px;
    height: 120px;
    font-size: 23px;
    line-height: 85px;
  }
  .popup05-5 .titlePop05-5 img {
    width: 35px;
  }
  .popup05-5 .btnDownload {
    right: auto;
    left: 53px;
    top: 70px;
  }
  .popup05-5 .btnClose {
    right: 10px;
  }

  .popup05-6 {
    width: 320px;
  }
  .popup05-6 .titlePop05-6 {
    padding: 0px 0px 0px 10px;
    height: 120px;
    font-size: 27px;
    line-height: 85px;
  }
  .popup05-6 .titlePop05-6 img {
    width: 35px;
  }
  .popup05-6 .btnDownload {
    right: auto;
    left: 53px;
    top: 70px;
  }
  .popup05-6 .btnClose {
    right: 10px;
  }

  .green_construction_popup {
    width: 320px;
  }
  .green_construction_popup .titlePop06 {
    padding: 20px 50px 10px 10px;
    font-size: 26px;
    line-height: 20px;
    height: 85px;
  }
  .green_construction_popup .titlePop06 span {
    font-size: 22px;
  }
  .green_construction_popup .contentPop06 {
    padding: 10px;
  }
  .green_construction_popup .btnDownload {
    right: auto;
    left: 10px;
    top: 65px;
  }
  .green_construction_popup .btnDownload.langEn {
    right: auto;
    left: 10px;
    top: 65px;
  }

  .activity_popup {
    width: 320px;
  }
  .activity_popup_cms {
    padding: 17px 10px 10px 10px;
    width: auto;
  }
  .activity_popup .activity_popup_img {
    position: relative;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 200px;
  }
  .activity_popup .activity_popup_img img {
    width: 300px;
  }
  .activity_popup .activity_popup_ctrl {
    position: relative;
    left: 0px;
    top: -130px;
    width: 300px;
  }
  .activity_popup .activity_popup_title {
    position: relative;
    left: 0px;
    top: 0px;
  }
  .activity_popup .btnClose {
    z-index: 500;
  }
}

.custom-checkbox {
  margin: 10px 0;
}

input[type="submit"]:disabled {
  opacity: 0.7;
  pointer-events: none;
}
